---
import Base from '../../layouts/Base.astro';
import PostList from '../../components/PostList.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog', ({ data }) => !data.draft))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---
<Base title="Writing · Nicolás Kriman">
  <div class="pad" style="padding-bottom: 0;">
    <h1>Writing</h1>
  </div>
  <PostList posts={posts} />
</Base>
